<header class="app-header">
  <div class="header-content">
    <h1 class="logo"><a routerLink="/" class="logo-link">Ristorino</a></h1>
  
    <div class="auth-actions">
      <ng-container *ngIf="(auth.isLoggedIn$ | async) === true; else loggedOut">
        <button class="nav-link" (click)="logout()">Cerrar sesión</button>
      </ng-container>

      <ng-template #loggedOut>
        <a routerLink="/login" class="nav-link">Ingresar</a>
      </ng-template>
    </div>

  </div>
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<footer class="app-footer">
  <div class="footer-content">
    <p>&copy; 2025 Ristorino. Todos los derechos reservados.</p>
  </div>
</footer>